{%  extends 'ProyectoWebApp/base.html' %}
{% load static %}
{% block content %}
<div class="container">
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
   <h1 class="h2">Lista de Conductores</h1>
   <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                  <!-- Start Stepper HTML -->
                  <div class="container">
                     <div class="accordion" id="accordionExample">
                        <div class="steps">
                           <progress id="progress" value=0 max=100 ></progress>
                           <div class="step-item">
                              <button class="step-button text-center" type="button" data-bs-toggle="collapse"
                                 data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              1
                              </button>
                              <div class="step-title">
                                 First Step
                              </div>
                           </div>
                           <div class="step-item">
                              <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                                 data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              2
                              </button>
                              <div class="step-title">
                                 Second Step
                              </div>
                           </div>
                           <div class="step-item">
                              <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                                 data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              3
                              </button>
                              <div class="step-title">
                                 Third Step
                              </div>
                           </div>
                        </div>
                        <form action="" method="POST">
                           <div class="card">
                              <div  id="headingOne">
                              </div>
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                 <div class="card-body">
                                    {% csrf_token %}
                                    <h2>Información del remitente</h2>
                                    <table style = "margin: 20px auto;">{{ formRemi.as_table }}</table>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div  id="headingTwo">
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                 <div class="card-body">
                                    {% csrf_token %}
                                    <h2>Información del Destinatario</h2>
                                    <table style = "margin: 20px auto;">{{ formDesti.as_table }}</table>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div  id="headingThree">
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                 <div class="card-body">
                                    {% csrf_token %}
                                    <h2>Información de las unidades</h2>
                                    <table style = "margin: 20px auto;">{{ formUnidades.as_table }}</table>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <input type="submit" value="Guardar" class="btn btn-success">
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="table-responsive">
   <table class="table table-striped table-sm">
      <thead>
         <tr>
            <th scope="col">Numero de la Guia</th>
            <th scope="col">Servicio</th>
            <th scope="col">Nombre Remitente</th>
            <th scope="col">Ciudad Origen</th>
            <th scope="col">Nombre Destinatario</th>
            <th scope="col">Ciudad Destino</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Observaciones</th>
         </tr>
      </thead>
      <tbody>
         {% for env in env %}
         <tr>
            {% if env.vehiculos_id == env3 %}
            <td>{{ env.numueroguia }}</td>
            <td>{{ env.tipoServicio.nombre }}</td>
            <td>{{ env.nombreRemi }}</td>
            <td>{{ env.ciudadRemi }}</td>
            <td>{{ env.nombreDesti }}</td>
            <td>{{ env.ciudadDesti }}</td>
            <td>{{ env.direccionDesti }}</td>
            <td>{{ env.telefonoDesti }}</td>
            </td>
            <td>
               <div class="btn-group me-2">
                  <a data-toggle="modal"  href="{% url 'entregar' env.id %}" class="btn btn-success" data-target="#modal" title="edit item" data-tooltip>
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                     </svg>
                     Editar
                  </a>
               </div>
            </td>
            {% endif %}
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
</html>
{% endblock %}