{%  extends 'ProyectoWebApp/base.html' %}
{% load static %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Despachador</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
      <thead>
        <tr>
            <th scope="col">Numero de la Guia</th>
            <th scope="col">Servicio</th>
            <th scope="col">Nombre Remitente</th>
            <th scope="col">Ciudad Origen</th>
            <th scope="col">Nombre Destinatario</th>
            <th scope="col">Ciudad Destino</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Placa Vehiculo</th>
            <th scope="col">Asignar</th>
        </tr>
      </thead>
      <tbody>
        {% for env in env %}
        <tr>
            <td>{{ env.numueroguia }}</td>
            <td>{{ env.tipoServicio.nombre }}</td>
            <td>{{ env.nombreRemi }}</td>
            <td>{{ env.ciudadRemi }}</td>
            <td>{{ env.nombreDesti }}</td>
            <td>{{ env.ciudadDesti }}</td>
            <td>{{ env.direccionDesti }}</td>
            <td>{{ env.telefonoDesti }}</td>
            <td>{{ env.vehiculos }}</td>
            <td>
               {% comment %} <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
               Asignar
               </button> {% endcomment %}
               <a data-toggle="modal" href="{% url 'asignar' env.id %}" class="btn btn-success" data-target="#modal" title="edit item" data-tooltip>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-index-fill" viewBox="0 0 16 16">
                     <path d="M8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002z"/>
                  </svg>
                  Asignar
               </a>
               {% comment %} <a href="{% url 'asignar' env.id %}"  class="btn btn-success" >Asignar </a>  {% endcomment %}
               {% comment %} 
               <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h4>Asignacion de Vehiculos</h4>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="" method="POST">
                           <div class="modal-body">
                              {% csrf_token %}
                              <table style = "margin: 20px auto;">{{ fromC.as_table }}</table>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              <input type="submit" value="Asignar" class="btn btn-success">
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
               {% endcomment %}
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
{% endblock %}