{%  extends 'ProyectoWebApp/base.html' %}
{% load static %}
{% block content %}
<div class="btn-toolbar mb-2 mb-md-0" style="margin-top:100px;border-radius:20px">
    <div class="container">
        <div class="accordion col-xs-14 col-md-6 offset-md-4 block border" id="accordionExample" >
            <div class="steps">
                <progress id="progress" value=6 max=100 ></progress>
                <div class="step-item" >
                    <button class="step-button text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    1
                    </button>
                    <div class="step-title" >
                        Información del remitente
                    </div>
                </div>
                <div class="step-item" >
                    <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    2
                    </button>
                    <div class="step-title" >
                        Información del destinatario
                    </div>
                </div>
                <div class="step-item" >
                    <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    3
                    </button>
                    <div class="step-title" >
                        Información de las unidades
                    </div>
                </div>
            </div>
        <form action="" method="POST">
            <div class="card" >
            <div  id="headingOne">
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="card-body" >
                {% csrf_token %}
                <h2>Información del remitente</h2>
                <table style = "margin: 6px auto;">{{ formRemi.as_table }}</table>
                </div>
            </div>
            </div>
            <div class="card">
            <div  id="headingTwo" >
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="card-body" >
                {% csrf_token %}
                <h2>Información del Destinatario</h2>
                <table style = "margin: 6px auto;">{{ formDesti.as_table }}</table>
                </div>
            </div>
            </div>
            <div class="card" >
            <div  id="headingThree">
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div   class="card-body">
                {% csrf_token %}
                <h2>Información de las unidades</h2>
                <table style = "margin: 6px auto;">{{ fromC.as_table }}</table>
                <a   class="btn btn-danger" aria-current="page" href="{% url 'Call' %}" >Cancelar</a>
                <input type="submit" value="Guardar" class="btn btn-success">
                </div>

                
            </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}